aiocoap==0.4.7
aiomqtt==2.0.1
allure-pytest==2.13.5
allure-python-commons==2.13.5
annotated-types==0.7.0
anyio==4.6.2
async-timeout==5.0.1
asyncio==3.4.3
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
CoAPthon3==1.0.2
execnet==2.1.1
Faker==35.2.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
packaging==24.2
pluggy==1.5.0
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
PyHamcrest==2.1.0
pytest==8.3.4
pytest-asyncio==0.23.6
pytest-dotenv==0.5.2
pytest-rerunfailures==14.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==5.2.1
referencing==0.35.1
rel==0.4.9.19
requests==2.32.3
urllib3==2.2.3
